.carousel-container {
  background-color: rgba(#000, 0.4);
  filter: blur(8);
  border-radius: 1rem;

  @include respond(md) {
    flex-direction: column;
    row-gap: 0.5rem;
    > h5 {
      font-size: 0.9rem;
    }
    > a {
      font-size: 0.7rem;
    }
  }
}
.img-slider {
  width: 100%;
  height: 450px;
  object-fit: cover;

  @include respond(md) {
    height: 400px;
  }
  @include respond(sm) {
    height: 250px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}
